.Header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0 5px 0;
    background-color: #143C8D;
}

ul {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    list-style: none;
    color: white;
    text-transform: uppercase;
    font-size: 0.9em;
    padding-top: 10px;
}

li {
    cursor: pointer;
}

li:hover {
    text-decoration: underline;
}