.Main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 10px;
    background-color: white;
    padding: 40px;
    width: 100%;
}

.Left {
    background-color: #EEEEEE;
    height: 800px;
    border-radius: 10px;
    width: 40%;
    padding: 30px;
    box-sizing: border-box;
}

form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

input {
    height: 30px;
}

textarea {
    height: 200px;
}

form div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Right {
    background-color: #EEEEEE;
    height: 800px;
    border-radius: 10px;
    width: 20%;
    box-sizing: border-box;
    padding: 30px;
}

.Right input {
    width: 100%;
}